jawiki.xml
.git/
jawiki*
.idea/
stax_test.iml
.idea/workspace.xml
.idea/workspace.xml
target/classes/com/jr2jme/st/Stmain.class
input.txt
target/classes/com/jr2jme/st/Wikitext.class
.idea/workspace.xml
out/artifacts/stax_test_jar/stax_test.jar
*.class
in.txt
.idea/workspace.xml
target/classes/com/jr2jme/st/Stmain.class